#
# pin constraints
#
NET "BTNs_5Bits_TRI_IO[0]" LOC = P16;
NET "BTNs_5Bits_TRI_IO[0]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[1]" LOC = R16;
NET "BTNs_5Bits_TRI_IO[1]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[2]" LOC = N15;
NET "BTNs_5Bits_TRI_IO[2]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[3]" LOC = R18;
NET "BTNs_5Bits_TRI_IO[3]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[4]" LOC = T18;
NET "BTNs_5Bits_TRI_IO[4]" IOSTANDARD = LVCMOS25;
NET "LEDs_8Bits_TRI_IO[0]" LOC = T22;
NET "LEDs_8Bits_TRI_IO[0]" IOSTANDARD = LVCMOS33;
NET "LEDs_8Bits_TRI_IO[1]" LOC = T21;
NET "LEDs_8Bits_TRI_IO[1]" IOSTANDARD = LVCMOS33;
NET "LEDs_8Bits_TRI_IO[2]" LOC = U22;
NET "LEDs_8Bits_TRI_IO[2]" IOSTANDARD = LVCMOS33;
NET "LEDs_8Bits_TRI_IO[3]" LOC = U21;
NET "LEDs_8Bits_TRI_IO[3]" IOSTANDARD = LVCMOS33;
NET "LEDs_8Bits_TRI_IO[4]" LOC = V22;
NET "LEDs_8Bits_TRI_IO[4]" IOSTANDARD = LVCMOS33;
NET "LEDs_8Bits_TRI_IO[5]" LOC = W22;
NET "LEDs_8Bits_TRI_IO[5]" IOSTANDARD = LVCMOS33;
NET "LEDs_8Bits_TRI_IO[6]" LOC = U19;
NET "LEDs_8Bits_TRI_IO[6]" IOSTANDARD = LVCMOS33;
NET "LEDs_8Bits_TRI_IO[7]" LOC = U14;
NET "LEDs_8Bits_TRI_IO[7]" IOSTANDARD = LVCMOS33;
#
# additional constraints
#

INST "bit_counter_ip_0/bit_counter_ip_0/USER_LOGIC_I/prconfig_i" AREA_GROUP = "pblock_bit_counter_ip_0_USER_LOGIC_I_prconfig_i";
AREA_GROUP "pblock_bit_counter_ip_0_USER_LOGIC_I_prconfig_i" RANGE=SLICE_X4Y29:SLICE_X9Y44;
AREA_GROUP "pblock_bit_counter_ip_0_USER_LOGIC_I_prconfig_i" RANGE=RAMB18_X0Y12:RAMB18_X0Y17;
AREA_GROUP "pblock_bit_counter_ip_0_USER_LOGIC_I_prconfig_i" RANGE=RAMB36_X0Y6:RAMB36_X0Y8;
